@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witamy W Przepisowym Świecie</h1>
    <h4>Zapraszamy do kliknięcia zakładki przepisy</h4>
    <p>[Znajduje się na samej górze]</p>
</div>
